@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p {
  text-align: center;
  font-size: 32px;
}
